<ion-header>
  <ion-toolbar>
    <ion-title>
      CRUD Productos
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    
  </div>
  <h3 class="p-3 text-center">Ingrese datos del producto</h3>
  <ion-item>
    <ion-label position="floating">
        Nombre:
    </ion-label>
    <ion-input [(ngModel)]="newProducto.name" type="string" inputmode="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
        Precio:
    </ion-label>
    <ion-input [(ngModel)]="newProducto.price" type="number" inputmode="numeric"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
        Precio reducido:
    </ion-label>
    <ion-input [(ngModel)]="newProducto.priceSale" type="number" inputmode="numeric"></ion-input>
  </ion-item>
  <ion-item class="mt-4">
    <ion-label>
        Foto:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-button (click)="guardarProd()" expand="full" color="dark" class="m-5">Guardar</ion-button>

</ion-content>